html {
  /*
  Overflow: hidden; -  Это прямо КОСТЫЛИЩЕ в данном случае.
  Из-за этого в Android Chrome не работает pull-down-to-refresh.
  Зачем это сделано?
  Этим я победил проблему со скроллбаром: 
  при anсhor-positioned popover для multiselect.
  При моей full-flex-вёрстке (чтобы скроллилась не вся страница, а один из 4-х flex-блоков)
  происходит лютая дичь если popover появляется под элементом, 
  положение которого от верха скроллящегося контейнера
  больше чем высота этого самого скроллящегося элемента.
  Всё перерыл и нифига не нашел решения.
  
  Допускаю что это баг Chrome, 
  т.к. на момент написания этого кода (2024-07)
  anchor-positioning лишь месяц назад появилось в Chrome.
  В других браузерах его вообще нет.
  
  Нужно проверить как это будет работать в других браузерах 
  спустя например год после того как поддержка anchor-positioning станет повсеместной.
  Или может-быть в сети появятся какие-то решения данной проблемы.
  
  На скролле обычной страницы такой проблемы не было.
  
  Всё вышесказанное распространяется и на body 
  */
  overflow: hidden;

  /*Это - чтобы дебажить проблему со скроллом в случае отключения overflow: hidden;*/
  /*scrollbar-color: red green;*/
}

body {
  background-color: var(--clr-bg-blue-big);
  anchor-name: --anchor-body;
}
