// Идея пропорций взята отсюда https://type-scale.com/
$_fontScale: 1.067           !default;        // Minor Second
$_fontScaleSm: $_fontScale !default;
$_fontScaleMd: 1.125         !default;       // Major Second
$_fontScaleLg: 1.200         !default;       // Minor Third
$_fontScaleXl: $_fontScaleLg !default;
$_fontScaleXxl: $_fontScaleXl !default;

@use 'sass:math';
// Заголовки обычные
// -----------------
// Это не хардкод - это для гибкости.
// Для каждой ширины каждый размер заголовка может быть любым.
// Например h1 как h1, h2 как h5, h3 как h6. И это при соблюдении scale.
// И подобные вариации могут отличаться от расширения к расширению.
$_headerFontSizes: 1rem * math.pow($_fontScale, 5), 1.0rem * math.pow($_fontScale, 4),  1rem * math.pow($_fontScale, 3), 1rem * math.pow($_fontScale, 2), 1rem * $_fontScale, 1rem !default;
$_headerFontSizesSm: 1rem * math.pow($_fontScaleSm, 5), 1.0rem * math.pow($_fontScaleSm, 4),  1rem * math.pow($_fontScaleSm, 3), 1rem * math.pow($_fontScaleSm, 2), 1rem * $_fontScaleSm, 1rem !default;
$_headerFontSizesMd: 1rem * math.pow($_fontScaleMd, 5), 1.0rem * math.pow($_fontScaleMd, 4),  1rem * math.pow($_fontScaleMd, 3), 1rem * math.pow($_fontScaleMd, 2), 1rem * $_fontScaleMd, 1rem !default;;
$_headerFontSizesLg: 1rem * math.pow($_fontScaleLg, 5), 1.0rem * math.pow($_fontScaleLg, 4),  1rem * math.pow($_fontScaleLg, 3), 1rem * math.pow($_fontScaleLg, 2), 1rem * $_fontScaleLg, 1rem !default;
$_headerFontSizesXl: $_headerFontSizesLg !default;
$_headerFontSizesXxl: $_headerFontSizesXl !default;

$_headerBottomMargins: 0.5rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem !default;

$_headerFontWeight: 300 !default;
$_headerFontFamily: 'Inter Tight', sans-serif !default;
$_headerLetterSpacing: 0rem !default;
$_headerLineHeight: 1.2 !default;

$_bodyFontFamily: 'Inter Tight', sans-serif !default;
