h1, .h1, ,.h1-base,
h2, .h2, ,.h2-base,
h3, .h3, ,.h3-base,
h4, .h4, ,.h4-base,
h5, .h5, ,.h5-base,
h6, .h6, ,.h6-base {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $headerFontWeight;
  line-height: $headerLineHeight;
  letter-spacing: $headerLetterSpacing;
  font-family: $headerFontFamily;
}

@mixin fontSizesForAllBreakpoints($hLevel) {
  font-size: nth($headerFontSizes, $hLevel);
  @media (min-width: $bpSm) {
    font-size: nth($headerFontSizesSm, $hLevel);
  }
  @media (min-width: $bpMd) {
    font-size: nth($headerFontSizesMd, $hLevel);
  }
  @media (min-width: $bpLg) {
    font-size: nth($headerFontSizesLg, $hLevel);
  }
  @media (min-width: $bpXl) {
    font-size: nth($headerFontSizesXl, $hLevel);
  }
  @media (min-width: $bpXxl) {
    font-size: nth($headerFontSizesXxl, $hLevel);
  }
}

@for $hLevel from 1 through 6 {
  h#{$hLevel}, .h#{$hLevel} {
    @include fontSizesForAllBreakpoints($hLevel);
    margin-bottom: nth($headerBottomMargins, $hLevel);
  }
}
