h1, h2, h3{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--header-font-weight);
  line-height: var(--header-line-height);
  letter-spacing: var(--header-letter-spacing);
  font-family: var(--header-font-family);
}

h1 {
  font-size: var(--font-size-mega-giant);
}
h2 {
  font-size: var(--font-size-giant);
}
h3 {
  font-size: var(--font-size-large);
}
