:root {
  //Breakpoints
  // Возможно пригодятся для доступа к ним из JS-а.
  --bpSm: 576px;
  --bpMd: 768px;
  --bpLg: 1024px;
  --bpXl: 1280px;
  --bpXxl: 1536px;
  --bp-xs-or-more: true;
  @media (min-width: 576px) { --bp-sm-or-more: true}
  @media (min-width: 768px) {--bp-md-or-more: true}
  @media (min-width: 1024px) {--bp-lg-or-more: true}
  @media (min-width: 1280px) {--bp-xl-or-more: true}
  @media (min-width: 1536px) {--bp-xxl-or-more: true}
}
