:root {

  --headerFontWeight: 300;
  --headerFontFamily: 'Inter Tight', sans-serif;
  --headerLetterSpacing: 0rem;
  --headerLineHeight: 1.2;
  --bodyFontFamily: 'Inter Tight', sans-serif;


  //// размеры Шрифтов
  --fontSizeMegaGiant: 23px;    // В т.ч. для h1
  --fontSizeGiant: 20px;        // В т.ч. для h2
  --fontSizeLarge: 18px;        // В т.ч. для h3
  --fontSizeBase: 16px;
  --fontSizeSmall: 14px;
  --fontSizeTiny: 12px;

  --fontWeightBold: 600;
}
