/*У тега, к которому применяется данный класс,*/
/*должны быть css-переменные --gap-flex и --flex-items-qty.*/
/*У родителя должен быть flex-flow: row wrap;*/
/*Deprecated!!! todo:: избавиться от этого на проекте. Оно распостраняет наследование на вложенные флексы. И к тому-же не удобно в использовании*/
.mod--basis-for-column-flex-item {
  --summaryGapDistance: calc((var(--flex-items-qty) - 1) * var(--gap-flex));
  flex-basis: calc(
    (100% - var(--summaryGapDistance)) / var(--flex-items-qty)
  ) !important;
}

.am-cols {
  display: flex;
  flex-flow: row wrap;

  --cols-gap: var(--gap); /*Может перегружаться */
  --cols-qty: 12;         /*Может перегружаться */


  --total-gaps: calc(var(--cols-qty) - 1);
  --total-gaps-width: calc(var(--total-gaps) * var(--cols-gap));
  --width-of-all-columns-without-gaps: calc(100% - var(--total-gaps-width));
  --width-of-one-column: calc(var(--width-of-all-columns-without-gaps) / var(--cols-qty));

  gap: var(--cols-gap);

  .am-col-1,
  .am-col-2,
  .am-col-3,
  .am-col-4,
  .am-col-5,
  .am-col-6,
  .am-col-7,
  .am-col-8,
  .am-col-9,
  .am-col-10,
  .am-col-11,
  .am-col-12 {
    flex-grow: 0;
    flex-shrink: 0;

    --width-of-all-columns: calc(var(--width-of-one-column) * var(--cols-qty-per-item));
    --width-of-all-gaps-to-add: calc(var(--cols-gap) * (var(--cols-qty-per-item) - 1));
    --flex-basis-result: calc(var(--width-of-all-columns) + var(--width-of-all-gaps-to-add));
    flex-basis: var(--flex-basis-result);
  }

  .am-col-1 {--cols-qty-per-item: 1;}
  .am-col-2 {--cols-qty-per-item: 2;}
  .am-col-3 {--cols-qty-per-item: 3;}
  .am-col-4 {--cols-qty-per-item: 4;}
  .am-col-5 {--cols-qty-per-item: 5;}
  .am-col-6 {--cols-qty-per-item: 6;}
  .am-col-7 {--cols-qty-per-item: 7;}
  .am-col-8 {--cols-qty-per-item: 8;}
  .am-col-9 {--cols-qty-per-item: 9;}
  .am-col-10 {--cols-qty-per-item: 10;}
  .am-col-11 {--cols-qty-per-item: 11;}
  .am-col-12 {--cols-qty-per-item: 12;}


  .col-sm-1 {}
  .col-sm-2 {}
  .col-sm-3 {}
}

.mod--flex-columns {
  --flex-columns-gap: var(--gap); /*Может перегружаться */
  --flex-columns-qty: 4;          /*Может перегружаться*/

  display: flex;
  flex-flow: row wrap;
  gap: var(--flex-columns-gap);

  > .mod--flex-columns-item {
    --flex-columns-width: 1;    /*Может перегружаться*/

    flex-grow: 0;
    flex-shrink: 0;

    /*--summaryGapDistance: calc((var(--flex-columns-qty) - 1) * var(--flex-columns-gap));*/
    --flex-columns-quantity-considering-width: calc(var(--flex-columns-qty) - var(--flex-columns-width));
    --summaryGapDistance: calc((var(--flex-columns-quantity-considering-width)) * var(--flex-columns-gap));
    --leftSpaceWithoutGap: calc(100% - var(--summaryGapDistance));
    /*--spaceForOneColumn: calc(var(--leftSpaceWithoutGap) / var(--flex-columns-qty));*/
    --spaceForOneColumn: calc(var(--leftSpaceWithoutGap) / var(--flex-columns-quantity-considering-width));
    flex-basis: var(--spaceForOneColumn);
    padding-left: var(--summaryGapDistance);
  }

}

.mod--float-left {
  float: left;
}
.mod--float-right {
  float: right;
}
.mod--clear-both {
  clear: both;
}

.mod--mt-0 {
  margin-top: 0;
}
.mod--mb-0 {
  margin-bottom: 0;
}
.mod--mb-half {
  margin-bottom: calc(var(--gap) / 2);
}
.mod--mb-1 {
  margin-bottom: var(--gap);
}
