:root {
  --_hueBlue: 212;
  --_hueGreen: 113;
  --_hueRed: 5;
  --_hueOrange: 25;
}


/*clrFill - Ярко выраженный цвет. Например кнопка. Максимум - шапка.*/
/*small - например для кнопки или шапки*/
/*big - например для блока, занимающего пол страницы*/
/*accent - например для активной ссылки на страницу*/
:root {
  --_satFillSmall: 42%;
  --_lightFillSmall: 52%;

  --_satFillBig: 39%;
  --_lightFillBig: 47%;

  --_satFillAccent: 52%;
  --_lightFillAccent: 34%;

  --clrFillBlueSmall: hsl(var(--_hueBlue), var(--_satFillSmall), var(--_lightFillSmall));
  --clrFillBlueBig: hsl(var(--_hueBlue), var(--_satFillBig), var(--_lightFillBig));
  --clrFillBlueAccent: hsl(var(--_hueBlue), var(--_satFillAccent), var(--_lightFillAccent));

  --clrFillRedSmall: hsl(var(--_hueRed), var(--_satFillSmall), var(--_lightFillSmall));
  --clrFillRedBig: hsl(var(--_hueRed), var(--_satFillBig), var(--_lightFillBig));
  --clrFillRedAccent: hsl(var(--_hueRed), var(--_satFillAccent), var(--_lightFillAccent));

  --clrFillGreenSmall: hsl(var(--_hueGreen), var(--_satFillSmall), var(--_lightFillSmall));
  --clrFillGreenBig: hsl(var(--_hueGreen), var(--_satFillBig), var(--_lightFillBig));
  --clrFillGreenAccent: hsl(var(--_hueGreen), var(--_satFillAccent), var(--_lightFillAccent));

  --clrFillOrangeSmall: hsl(var(--_hueOrange), var(--_satFillSmall), var(--_lightFillSmall));
  --clrFillOrangeBig: hsl(var(--_hueOrange), var(--_satFillBig), var(--_lightFillBig));
  --clrFillOrangeAccent: hsl(var(--_hueOrange), var(--_satFillAccent), var(--_lightFillAccent));
}


/*clrBorder - Цвет Бордюра*/
/*lighter - на стыке белого с серым*/
/*lightest - на фоне белого*/
:root {
  --_satBorderLighter: 10%;
  --_lightBorderLighter: 90%;

  --_satBorderLightest: 9%;
  --_lightBorderLightest: 94%;

  --clrBorderBlueLighter: hsl(var(--_hueBlue), var(--_satBorderLighter), var(--_lightBorderLighter));
  --clrBorderBlueLightest: hsl(var(--_hueBlue), var(--_satBorderLightest), var(--_lightBorderLightest));
}

/*clrBg - Цвет фона. Для блоков большого размера. Светлый задний фон*/
/*big - например фон всей страницы*/
/*small - например для шапки в таблице*/
/*accent - Чтобы выделялось на фоне любого серого. Например для скроллбара, или подчеркивания в меню.*/
/*highlight - для blink-эффекта*/
:root {

  --_satBgBig: 25%;
  --_lightBgBig: 98%;

  --_satBgSmall: 9%;
  --_lightBgSmall: 94%;



  --_satBgAccent: 19%;
  --_lightBgAccent: 83%;

  --_satBgHighlight: 81%;
  --_lightBgHighlight: 90%;

  --clrBgBlueBig: hsl(var(--_hueBlue), var(--_satBgBig), var(--_lightBgBig));
  --clrBgBlueSmall: hsl(var(--_hueBlue), var(--_satBgSmall), var(--_lightBgSmall));
  --clrBgBlueAccent: hsl(var(--_hueBlue), var(--_satBgAccent), var(--_lightBgAccent));
  --clrBgBlueHighlight: hsl(var(--_hueBlue), var(--_satBgHighlight), var(--_lightBgHighlight));

  --clrBgRedBig: hsl(var(--_hueRed), var(--_satBgBig), var(--_lightBgBig));
  --clrBgRedSmall: hsl(var(--_hueRed), var(--_satBgSmall), var(--_lightBgSmall));
  --clrBgRedAccent: hsl(var(--_hueRed), var(--_satBgAccent), var(--_lightBgAccent));
  --clrBgRedHighlight: hsl(var(--_hueRed), var(--_satBgHighlight), var(--_lightBgHighlight));

  --clrBgOrangeBig: hsl(var(--_hueOrange), var(--_satBgBig), var(--_lightBgBig));
  --clrBgOrangeSmall: hsl(var(--_hueOrange), var(--_satBgSmall), var(--_lightBgSmall));
  --clrBgOrangeAccent: hsl(var(--_hueOrange), var(--_satBgAccent), var(--_lightBgAccent));
  --clrBgOrangeHighlight: hsl(var(--_hueOrange), var(--_satBgHighlight), var(--_lightBgHighlight));

  --clrBgGreenBig: hsl(var(--_hueGreen), var(--_satBgBig), var(--_lightBgBig));
  --clrBgGreenSmall: hsl(var(--_hueGreen), var(--_satBgSmall), var(--_lightBgSmall));
  --clrBgGreenAccent: hsl(var(--_hueGreen), var(--_satBgAccent), var(--_lightBgAccent));
  --clrBgGreenHighlight: hsl(var(--_hueGreen), var(--_satBgHighlight), var(--_lightBgHighlight));
}

/*clrFont - Цвет шрифта*/
:root {
  --_satFontLight: 36%;
  --_lightFontLight: 88%;

  --_satFontGray: 0%;
  --_lightFontGray: 58%;

  --_satFontDark: 0%;
  --_lightFontDark: 0%;

  --clrFontBlueLight: hsl(var(--_hueBlue), var(--_satFontLight), var(--_lightFontLight));
  --clrFontBlueGray: hsl(var(--_hueBlue), var(--_satFontGray), var(--_lightFontGray));
  --clrFontBlueDark: hsl(var(--_hueBlue), var(--_satFontDark), var(--_lightFontDark));
}
