:root {
  --header-font-weight: 300;
  --header-font-family: "Inter Tight Font", sans-serif;
  --header-letter-spacing: 0.02rem;
  --header-line-height: 1.2;

  --body-font-family: "Inter Tight Font", sans-serif;
  --body-letter-spacing: 0.02rem;
  --body-line-height: 1.4;

  /*размеры Шрифтов*/
  --font-size-mega-giant: 23px; /*В т.ч. для h1*/
  --font-size-giant: 20px; /*В т.ч. для h2*/
  --font-size-large: 18px; /*В т.ч. для h3*/
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;

  --font-weight-bold: 600;
}
