// Идея пропорций взята отсюда https://type-scale.com/
$fontScale: 1.067           !default;        // Minor Second
$fontScaleSm: $fontScale    !default;
$fontScaleMd: 1.125         !default;       // Major Second
$fontScaleLg: 1.200         !default;       // Minor Third
$fontScaleXl: $fontScaleLg  !default;
$fontScaleXxl: $fontScaleXl !default;

@use 'sass:math';
// Заголовки обычные
// -----------------
// Это не хардкод - это для гибкости.
// Для каждой ширины каждый размер заголовка может быть любым.
// Например h1 как h1, h2 как h5, h3 как h6. И это при соблюдении scale.
// И подобные вариации могут отличаться от расширения к расширению.
$headerFontSizes: 1rem * math.pow($fontScale, 5), 1.0rem * math.pow($fontScale, 4),  1rem * math.pow($fontScale, 3), 1rem * math.pow($fontScale, 2), 1rem * $fontScale, 1rem !default;
$headerFontSizesSm: 1rem * math.pow($fontScaleSm, 5), 1.0rem * math.pow($fontScaleSm, 4),  1rem * math.pow($fontScaleSm, 3), 1rem * math.pow($fontScaleSm, 2), 1rem * $fontScaleSm, 1rem !default;
$headerFontSizesMd: 1rem * math.pow($fontScaleMd, 5), 1.0rem * math.pow($fontScaleMd, 4),  1rem * math.pow($fontScaleMd, 3), 1rem * math.pow($fontScaleMd, 2), 1rem * $fontScaleMd, 1rem !default;;
$headerFontSizesLg: 1rem * math.pow($fontScaleLg, 5), 1.0rem * math.pow($fontScaleLg, 4),  1rem * math.pow($fontScaleLg, 3), 1rem * math.pow($fontScaleLg, 2), 1rem * $fontScaleLg, 1rem !default;
$headerFontSizesXl: $headerFontSizesLg !default;
$headerFontSizesXxl:$headerFontSizesXl !default;

$headerBottomMargins: 0.5rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem !default;

$headerFontWeight: 300 !default;
$headerFontFamily: 'Inter Tight', sans-serif !default;
$headerLetterSpacing: 0rem !default;
$headerLineHeight: 1.2 !default;

$bodyFontFamily: 'Inter Tight', sans-serif !default;

:root {
  //// размеры Шрифтов
  --fs: 16px;
  --fsSmall: 14px;
  --fsTiny: 12px;

  --fontBold: 600;
}
