h1, h2, h3{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--headerFontWeight);
  line-height: var(--headerLineHeight);
  letter-spacing: var(--headerLetterSpacing);
  font-family: var(--headerFontFamily);
  //font-family: var(--headerFontFamily);
}

h1 {
  font-size: var(--fontSizeMegaGiant);
}
h2 {
  font-size: var(--fontSizeGiant);
}
h3 {
  font-size: var(--fontSizeLarge);
}
