body {
  font-family: $bodyFontFamily;
  font-size: var(--fs);
  color: var(--clrFontBlueDark);

  //background-color: clrBg(big, main);
  background-color: var(--clrBgBlueBig);
  margin-top: var(--headerHeight);
  //margin-left: var(--leftMenuWidth);
}
a {
  //color: $clrMainDark;
  //color: clrFill('accent');
  color: var(--clrFillBlueAccent)
}

* {
  // Нормальный прочет размеров
  box-sizing: border-box;

  // чтобы у вложенных элементов в любой блок не было отступов сверху и снизу
  > *:first-child { margin-top: 0 }
  > *:last-child { margin-bottom: 0 }
}

input, textarea {
  outline: none !important;
}

// Глобальный модификатор для красивого скроллбара
.global-mod--with-cool-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: $scrollbarWidth;
  }
  ::-webkit-scrollbar-thumb        {
    background: transparent;
  }

  &:hover {
    scrollbar-color: clrBg(accent, main) transparent;
  }
  &:hover::-webkit-scrollbar-thumb{
    background: clrBg(accent, main);
  }
}
