:root {
  --hueBlue: 212;
  --hueGreen: 113;
  --hueRed: 5;
  --hueOrange: 25;
}


// clrFill - Ярко выраженный цвет. Например кнопка. Максимум - шапка.
// small - например для кнопки или шапки
// big - например для блока, занимающего пол страницы
// accent - например для активной ссылки на страницу
:root {
  --satFillSmall: 42%;
  --lightFillSmall: 52%;

  --satFillBig: 39%;
  --lightFillBig: 47%;

  --satFillAccent: 52%;
  --lightFillAccent: 34%;

  --clrFillBlueSmall: hsl(var(--hueBlue), var(--satFillSmall), var(--lightFillSmall));
  --clrFillBlueBig: hsl(var(--hueBlue), var(--satFillBig), var(--lightFillBig));
  --clrFillBlueAccent: hsl(var(--hueBlue), var(--satFillAccent), var(--lightFillAccent));

  --clrFillRedSmall: hsl(var(--hueRed), var(--satFillSmall), var(--lightFillSmall));
  --clrFillRedBig: hsl(var(--hueRed), var(--satFillBig), var(--lightFillBig));
  --clrFillRedAccent: hsl(var(--hueRed), var(--satFillAccent), var(--lightFillAccent));

  --clrFillGreenSmall: hsl(var(--hueGreen), var(--satFillSmall), var(--lightFillSmall));
  --clrFillGreenBig: hsl(var(--hueGreen), var(--satFillBig), var(--lightFillBig));
  --clrFillGreenAccent: hsl(var(--hueGreen), var(--satFillAccent), var(--lightFillAccent));

  --clrFillOrangeSmall: hsl(var(--hueOrange), var(--satFillSmall), var(--lightFillSmall));
  --clrFillOrangeBig: hsl(var(--hueOrange), var(--satFillBig), var(--lightFillBig));
  --clrFillOrangeAccent: hsl(var(--hueOrange), var(--satFillAccent), var(--lightFillAccent));
}


// clrBorder - Цвет Бордюра
// lighter - на стыке белого с серым
// lightest - на фоне белого
:root {
  --satBorderLighter: 10%;
  --lightBorderLighter: 90%;

  --satBorderLightest: 9%;
  --lightBorderLightest: 94%;

  --clrBorderBlueLighter: hsl(var(--hueBlue), var(--satBorderLighter), var(--lightBorderLighter));
  --clrBorderBlueLightest: hsl(var(--hueBlue), var(--satBorderLightest), var(--lightBorderLightest));
}

// clrFont - Цвет шрифта
:root {
  --satFontLight: 36%;
  --lightFontLight: 88%;

  --satFontGray: 0%;
  --lightFontGray: 58%;

  --satFontDark: 0%;
  --lightFontDark: 0%;

  --clrFontBlueLight: hsl(var(--hueBlue), var(--satFontLight), var(--lightFontLight));
  --clrFontBlueGray: hsl(var(--hueBlue), var(--satFontGray), var(--lightFontGray));
  --clrFontBlueDark: hsl(var(--hueBlue), var(--satFontDark), var(--lightFontDark));
}
